In [112]:
import pandas as pd
import json
from fun_fac import *
import numpy as np
import matplotlib.pyplot as plt
df_1 = load_and_process_data('trade_sz301596')
df_2 = load_and_process_data('snap_sz301596')
df_3 = load_and_process_data('order_sz301596')

In [152]:
order_snap_df = pd.merge_asof(df_3.sort_values('tick_time'), df_2.sort_values('tick_time'), on='tick_time', direction='backward')
order_snap_df

,type,seq_x,code_x,price,volume,flag,market_time_x,order_type,tick_time,seq_y,...,open_price,high_price,low_price,close_price,delegation_buy_volume,delegation_sell_volume,max_buy_level,max_sell_level,buy_delegations,sell_delegations
0,1,2840,sz301596,700000,100,S,2024-05-13 09:15:00+08:00,1,2024-05-13 09:15:00.030,1026,...,0,0,0,0,0,0,1,1,"[{'price': 666700, 'volume': 12600, 'level': 1...","[{'price': 666700, 'volume': 12600, 'level': 1..."
1,1,4537,sz301596,600000,500,S,2024-05-13 09:15:00+08:00,1,2024-05-13 09:15:00.040,1026,...,0,0,0,0,0,0,1,1,"[{'price': 666700, 'volume': 12600, 'level': 1...","[{'price': 666700, 'volume': 12600, 'level': 1..."
2,1,7070,sz301596,249400,500,S,2024-05-13 09:15:00+08:00,1,2024-05-13 09:15:00.040,1026,...,0,0,0,0,0,0,1,1,"[{'price': 666700, 'volume': 12600, 'level': 1...","[{'price': 666700, 'volume': 12600, 'level': 1..."
3,1,7410,sz301596,1880000,100,S,2024-05-13 09:15:00+08:00,1,2024-05-13 09:15:00.050,1026,...,0,0,0,0,0,0,1,1,"[{'price': 666700, 'volume': 12600, 'level': 1...","[{'price': 666700, 'volume': 12600, 'level': 1..."
4,1,8217,sz301596,320000,500,S,2024-05-13 09:15:00+08:00,1,2024-05-13 09:15:00.050,1026,...,0,0,0,0,0,0,1,1,"[{'price': 666700, 'volume': 12600, 'level': 1...","[{'price': 666700, 'volume': 12600, 'level': 1..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80983,1,34540580,sz301596,696000,500,B,2024-05-13 14:59:57+08:00,1,2024-05-13 14:59:57.270,30207,...,703000,777000,681000,0,0,0,2,1,"[{'price': 693300, 'volume': 90382, 'level': 1...","[{'price': 693300, 'volume': 90382, 'level': 1..."
80984,1,34540635,sz301596,694200,100,B,2024-05-13 14:59:57+08:00,1,2024-05-13 14:59:57.350,30207,...,703000,777000,681000,0,0,0,2,1,"[{'price': 693300, 'volume': 90382, 'level': 1...","[{'price': 693300, 'volume': 90382, 'level': 1..."
80985,1,34541760,sz301596,694300,300,B,2024-05-13 14:59:58+08:00,1,2024-05-13 14:59:58.430,30207,...,703000,777000,681000,0,0,0,2,1,"[{'price': 693300, 'volume': 90382, 'level': 1...","[{'price': 693300, 'volume': 90382, 'level': 1..."
80986,1,34541901,sz301596,693900,400,B,2024-05-13 14:59:58+08:00,1,2024-05-13 14:59:58.570,30207,...,703000,777000,681000,0,0,0,2,1,"[{'price': 693300, 'volume': 90382, 'level': 1...","[{'price': 693300, 'volume': 90382, 'level': 1..."
80987,1,34542328,sz301596,695100,300,B,2024-05-13 14:59:59+08:00,1,2024-05-13 14:59:59.070,30207,...,703000,777000,681000,0,0,0,2,1,"[{'price': 693300, 'volume': 90382, 'level': 1...","[{'price': 693300, 'volume': 90382, 'level': 1..."

In [97]:
df_3

,type,seq,code,price,volume,flag,market_time,order_type,tick_time
0,1,2840,sz301596,700000,100,S,2024-05-13 09:15:00+08:00,1,2024-05-13 09:15:00.030
1,1,4537,sz301596,600000,500,S,2024-05-13 09:15:00+08:00,1,2024-05-13 09:15:00.040
2,1,7070,sz301596,249400,500,S,2024-05-13 09:15:00+08:00,1,2024-05-13 09:15:00.040
3,1,7410,sz301596,1880000,100,S,2024-05-13 09:15:00+08:00,1,2024-05-13 09:15:00.050
4,1,8217,sz301596,320000,500,S,2024-05-13 09:15:00+08:00,1,2024-05-13 09:15:00.050
...,...,...,...,...,...,...,...,...,...
80983,1,34540580,sz301596,696000,500,B,2024-05-13 14:59:57+08:00,1,2024-05-13 14:59:57.270
80984,1,34540635,sz301596,694200,100,B,2024-05-13 14:59:57+08:00,1,2024-05-13 14:59:57.350
80985,1,34541760,sz301596,694300,300,B,2024-05-13 14:59:58+08:00,1,2024-05-13 14:59:58.430
80986,1,34541901,sz301596,693900,400,B,2024-05-13 14:59:58+08:00,1,2024-05-13 14:59:58.570
80987,1,34542328,sz301596,695100,300,B,2024-05-13 14:59:59+08:00,1,2024-05-13 14:59:59.070

对A篇论文进行计算类别

In [15]:
def select_type_1(df):
    # 将快照表的买价卖价筛出来
    for k in range(1,6):
        df['0bid'+str(k)] = df['buy_delegations'].apply(lambda x: x[k-1]['price'])
        df['1bid'+str(k)] = df['0bid'+str(k)].shift(-1)
        df['0ask'+str(k)]=df['sell_delegations'].apply(lambda x: x[k-1]['price'])
        df['1ask'+str(k)] = df['0ask'+str(k)].shift(-1)

    df['da'] = df['1ask1'] - df['0ask1']
    df['db'] = df['0bid1'] - df['1bid1']
    # 条件判断
    condition_b_type_b_5 = (( df['1ask1'] > df['0ask5']) & (df['da']>100)) | ((
                df['1bid1'] < df['0bid5']) & (df['db'] > 100))
    condition_b_type_b_4 = (( df['1ask1'] > df['0ask4']) & (df['da']>100)) | ((
                df['1bid1'] < df['0bid4']) & (df['db'] > 100))
    condition_b_type_b_3 = (( df['1ask1'] > df['0ask3']) & (df['da']>100)) | ((
                df['1bid1'] < df['0bid3']) & (df['db'] > 100))
    condition_b_type_b_2 = (( df['1ask1'] > df['0ask2']) & (df['da']>100)) | ((
                df['1bid1'] < df['0bid2']) & (df['db'] > 100))
    condition_b_type_a = ((df['1ask1'] > df['0ask1']) & (df['da']>100)) | ((
                            df['1bid1'] < df['0bid1']) & (df['db'] > 100))


    condition_b_type_one = ((df['1ask1'] > df['0ask1']) & (df['da']==100)) | ((
                            df['1bid1'] < df['0bid1']) & (df['db'] == 100))
    condition_b_type_zero = ((df['1ask1'] == df['0ask1']) & (df['da']==0)) | ((
                            df['1bid1'] == df['0bid1']) & (df['db'] == 0))

    df['type_agg'] = np.select(
        [condition_b_type_b_5, condition_b_type_b_4, condition_b_type_b_3, condition_b_type_b_2, condition_b_type_a, condition_b_type_one,condition_b_type_zero],
        ['type_b5', 'type_b4', 'type_b3', 'type_b2','type_a','type_one','type_zero'],default='other' )
    return df

In [ ]:
df_2_del = select_type_1(cut_time(df_2))
df_2_del['tick_time']

In [17]:
frequency = df_2_del['type_agg'].value_counts()
# 绘制频数分布图
frequency

type_agg
type_zero    550
type_a       278
type_one     194
type_b2      184
type_b5      119
type_b3       96
type_b4       38
other         33
Name: count, dtype: int64

In [14]:
df_2_del[df_2_del['type_agg']=='other']

,seq,post,market_time,tick_time,code,trade_stage,state,pre_close_price,num_trades,trade_volume,...,1bid4,0ask4,1ask4,0bid5,1bid5,0ask5,1ask5,da,db,type_agg
55,1498,False,2024-05-13 09:30:21+08:00,2024-05-13 09:30:21,sz301596,0,21,259200,5225,1413300,...,686600.0,699300,689000.0,692000,686500.0,699600,689100.0,-10400.0,-6700.0,other
56,1531,False,2024-05-13 09:30:39+08:00,2024-05-13 09:30:39,sz301596,0,21,259200,5777,1553989,...,683500.0,689000,686800.0,686500,682000.0,689100,687500.0,-1800.0,-2100.0,other
63,1690,False,2024-05-13 09:31:57+08:00,2024-05-13 09:31:57,sz301596,0,21,259200,9665,2561618,...,714000.0,722000,722000.0,718000,713600.0,723000,722800.0,-1200.0,-400.0,other
64,1697,False,2024-05-13 09:32:00+08:00,2024-05-13 09:32:00,sz301596,0,21,259200,9818,2594394,...,710100.0,722000,718600.0,713600,710000.0,722800,718700.0,-2200.0,-7900.0,other
65,1725,False,2024-05-13 09:32:12+08:00,2024-05-13 09:32:12,sz301596,0,21,259200,10128,2678394,...,708800.0,718600,717800.0,710000,708000.0,718700,718000.0,-6600.0,-1900.0,other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1537,29816,False,2024-05-13 14:55:30+08:00,2024-05-13 14:55:30,sz301596,0,21,259200,43774,10436894,...,694000.0,695300,695200.0,694000,693800.0,695400,695300.0,-200.0,-100.0,other
1540,29860,False,2024-05-13 14:55:54+08:00,2024-05-13 14:55:54,sz301596,0,21,259200,43903,10465394,...,693800.0,695000,695000.0,694000,693500.0,695100,695100.0,-100.0,-400.0,other
1542,29878,False,2024-05-13 14:56:03+08:00,2024-05-13 14:56:03,sz301596,0,21,259200,43959,10475994,...,693500.0,694900,694900.0,693500,693300.0,695000,695000.0,-400.0,-200.0,other
1545,29905,False,2024-05-13 14:56:18+08:00,2024-05-13 14:56:18,sz301596,0,21,259200,44099,10507794,...,693500.0,694900,694700.0,693800,693300.0,695000,694800.0,-400.0,-200.0,other
1546,29916,False,2024-05-13 14:56:24+08:00,2024-05-13 14:56:24,sz301596,0,21,259200,44152,10517794,...,NaN,694700,NaN,693300,NaN,694800,NaN,NaN,NaN,other

In [38]:
order_snap_df = pd.merge_asof(df_3.sort_values('tick_time'),df_2_del.sort_values('tick_time'),on='tick_time',direction='backward')
order_snap_change = order_snap_df[order_snap_df['type_agg'].isin(['type_one','type_a','type_b2','type_b3','type_b4','type_b5'])]
order_snap_change = order_snap_change.drop_duplicates(subset='market_time_y', keep='first')
order_snap = pd.concat([order_snap_df[order_snap_df['type_agg']=='type_zero'],order_snap_change],ignore_index=True)
order_snap.sort_values('tick_time',inplace=True)
order_snap['type_agg'].value_counts()

type_agg
type_zero    9732
type_a        276
type_one      194
type_b2       184
type_b5       119
type_b3        96
type_b4        38
Name: count, dtype: int64

按照B篇论文计算类型

In [44]:
df_2

,seq,post,market_time,tick_time,code,trade_stage,state,pre_close_price,num_trades,trade_volume,...,open_price,high_price,low_price,close_price,delegation_buy_volume,delegation_sell_volume,max_buy_level,max_sell_level,buy_delegations,sell_delegations
0,1026,False,2024-05-13 09:15:00+08:00,2024-05-13 09:15:00,sz301596,0,21,259200,0,0,...,0,0,0,0,0,0,1,1,"[{'price': 666700, 'volume': 12600, 'level': 1...","[{'price': 666700, 'volume': 12600, 'level': 1..."
1,1032,False,2024-05-13 09:15:09+08:00,2024-05-13 09:15:09,sz301596,0,21,259200,0,0,...,0,0,0,0,0,0,1,2,"[{'price': 699800, 'volume': 25500, 'level': 1...","[{'price': 699800, 'volume': 25500, 'level': 1..."
2,1037,False,2024-05-13 09:15:18+08:00,2024-05-13 09:15:18,sz301596,0,21,259200,0,0,...,0,0,0,0,0,0,2,1,"[{'price': 666700, 'volume': 21000, 'level': 1...","[{'price': 666700, 'volume': 21000, 'level': 1..."
3,1042,False,2024-05-13 09:15:27+08:00,2024-05-13 09:15:27,sz301596,0,21,259200,0,0,...,0,0,0,0,0,0,1,1,"[{'price': 694800, 'volume': 23200, 'level': 1...","[{'price': 694800, 'volume': 23200, 'level': 1..."
4,1047,False,2024-05-13 09:15:36+08:00,2024-05-13 09:15:36,sz301596,0,21,259200,0,0,...,0,0,0,0,0,0,2,1,"[{'price': 700000, 'volume': 29200, 'level': 1...","[{'price': 700000, 'volume': 29200, 'level': 1..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550,29955,False,2024-05-13 14:56:45+08:00,2024-05-13 14:56:45,sz301596,0,21,259200,44331,10553794,...,703000,777000,681000,0,22616800,533961,10,10,"[{'price': 693800, 'volume': 2800, 'level': 1,...","[{'price': 694000, 'volume': 6900, 'level': 1,..."
1551,29968,False,2024-05-13 14:56:51+08:00,2024-05-13 14:56:51,sz301596,0,21,259200,44382,10563894,...,703000,777000,681000,0,22614000,532961,10,10,"[{'price': 693500, 'volume': 400, 'level': 1, ...","[{'price': 693900, 'volume': 900, 'level': 1, ..."
1552,29974,False,2024-05-13 14:56:54+08:00,2024-05-13 14:56:54,sz301596,0,21,259200,44404,10569994,...,703000,777000,681000,0,22903600,528361,10,10,"[{'price': 693300, 'volume': 400, 'level': 1, ...","[{'price': 694000, 'volume': 4300, 'level': 1,..."
1553,30207,False,2024-05-13 14:58:57+08:00,2024-05-13 14:58:57,sz301596,0,21,259200,44435,10575794,...,703000,777000,681000,0,0,0,2,1,"[{'price': 693300, 'volume': 90382, 'level': 1...","[{'price': 693300, 'volume': 90382, 'level': 1..."
1554,30319,False,2024-05-13 15:00:00+08:00,2024-05-13 15:00:00,sz301596,0,21,259200,45050,10729676,...,703000,777000,681000,0,248818,220181,10,10,"[{'price': 694100, 'volume': 35318, 'level': 1...","[{'price': 694200, 'volume': 6100, 'level': 1,..."

In [148]:
def select_type_2(df):
    df.set_index('tick_time',inplace=True)
    df = df.resample('T').last()
    df = df[(df.index.time <= pd.to_datetime('11:30').time()) | (df.index.time >= pd.to_datetime('13:00').time())]
    df.fillna(method='ffill', inplace = True)
    df['bid1'] = df['buy_delegations'].apply(lambda x: x[0]['price'])
    df['ask1'] = df['sell_delegations'].apply(lambda x: x[0]['price'])
    df['price'] = (df['bid1']+df['ask1'])/2
    df['price_before'] = df['price'].shift(1)
    # 计算一个时间点的对数收益率
    df['log_return'] = np.log(df['price'] / df['price_before'])
    # 计算累计率
    for k in range(1,61):
        df['logret_before_' + str(k) + 'minutes'] = df['log_return'].shift(k)
    df['cum_return'] = df[['logret_before_' + str(k) + 'minutes' for k in range(1,61)]].sum(axis=1)
    # 计算平均波动率
    avg_col = ['logret_before_' + str(k) + 'minutes' for k in range(1,16)]
    df['avg_cumret'] = (df[avg_col]**2).sum(axis=1)
    df['avg_cumret'] = np.sqrt(df['avg_cumret'])
    return df

In [150]:
df_2_last = select_type_2(cut_time(df_2))
# df_2_last

/var/folders/rm/ngjc44r14j77bjr_tsbdy5mr0000gn/T/ipykernel_12233/1298504270.py:3: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df = df.resample('T').last()
/var/folders/rm/ngjc44r14j77bjr_tsbdy5mr0000gn/T/ipykernel_12233/1298504270.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace = True)

In [151]:
df_2_last[(df_2_last['cum_return']> 0.04) & (df_2_last['cum_return']>  6* df_2_last['avg_cumret']) ]

,seq,post,market_time,code,trade_stage,state,pre_close_price,num_trades,trade_volume,trade_value,...,logret_before_53minutes,logret_before_54minutes,logret_before_55minutes,logret_before_56minutes,logret_before_57minutes,logret_before_58minutes,logret_before_59minutes,logret_before_60minutes,cum_return,avg_cumret
tick_time,,,,,,,,,,,,,,,,,,,,,
2024-05-13 10:10:00,6301.0,0.0,2024-05-13 10:10:42+08:00,sz301596,0.0,21.0,259200.0,27978.0,7000696.0,5.042512e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.087417,0.012557
2024-05-13 10:11:00,6446.0,0.0,2024-05-13 10:11:57+08:00,sz301596,0.0,21.0,259200.0,28851.0,7191893.0,5.188560e+12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.092138,0.013391
2024-05-13 10:52:00,11270.0,0.0,2024-05-13 10:52:54+08:00,sz301596,0.0,21.0,259200.0,32693.0,8052987.0,5.849674e+12,...,0.001403,0.003415,-0.006552,0.007022,-0.000805,-0.008746,0.007674,0.016343,0.041413,0.006103

In [101]:
df_2_last[(df_2_last.index.time <= pd.to_datetime('11:30').time()) | (df_2_last.index.time >= pd.to_datetime('13:00').time())]

,seq,post,market_time,code,trade_stage,state,pre_close_price,num_trades,trade_volume,trade_value,...,delegation_sell_volume,max_buy_level,max_sell_level,buy_delegations,sell_delegations,bid1,ask1,price,price_before_60min,cr
tick_time,,,,,,,,,,,,,,,,,,,,,
2024-05-13 09:30:00,1564.0,0.0,2024-05-13 09:30:57+08:00,sz301596,0.0,21.0,259200.0,6763.0,1816970.0,1.273030e+12,...,981063.0,10.0,10.0,"[{'price': 686800, 'volume': 500, 'level': 1, ...","[{'price': 688100, 'volume': 8700, 'level': 1,...",686800,688100,687450.0,NaN,NaN
2024-05-13 09:31:00,1690.0,0.0,2024-05-13 09:31:57+08:00,sz301596,0.0,21.0,259200.0,9665.0,2561618.0,1.797309e+12,...,592577.0,10.0,10.0,"[{'price': 720300, 'volume': 4476, 'level': 1,...","[{'price': 721200, 'volume': 1100, 'level': 1,...",720300,721200,720750.0,NaN,NaN
2024-05-13 09:32:00,1796.0,0.0,2024-05-13 09:32:45+08:00,sz301596,0.0,21.0,259200.0,10922.0,2905507.0,2.041839e+12,...,787357.0,10.0,10.0,"[{'price': 710800, 'volume': 500, 'level': 1, ...","[{'price': 711200, 'volume': 300, 'level': 1, ...",710800,711200,711000.0,NaN,NaN
2024-05-13 09:33:00,1934.0,0.0,2024-05-13 09:33:57+08:00,sz301596,0.0,21.0,259200.0,12581.0,3310807.0,2.331723e+12,...,921744.0,10.0,10.0,"[{'price': 707900, 'volume': 300, 'level': 1, ...","[{'price': 709500, 'volume': 300, 'level': 1, ...",707900,709500,708700.0,NaN,NaN
2024-05-13 09:34:00,2024.0,0.0,2024-05-13 09:34:45+08:00,sz301596,0.0,21.0,259200.0,14108.0,3719801.0,2.625183e+12,...,721272.0,10.0,10.0,"[{'price': 721000, 'volume': 2100, 'level': 1,...","[{'price': 721300, 'volume': 424, 'level': 1, ...",721000,721300,721150.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-05-13 14:52:00,29502.0,0.0,2024-05-13 14:52:57+08:00,sz301596,0.0,21.0,259200.0,43146.0,10300394.0,7.482386e+12,...,567261.0,10.0,10.0,"[{'price': 699700, 'volume': 100, 'level': 1, ...","[{'price': 699900, 'volume': 700, 'level': 1, ...",699700,699900,699800.0,749950.0,-0.066871
2024-05-13 14:53:00,29634.0,0.0,2024-05-13 14:53:57+08:00,sz301596,0.0,21.0,259200.0,43351.0,10343694.0,7.512659e+12,...,562261.0,10.0,10.0,"[{'price': 698100, 'volume': 300, 'level': 1, ...","[{'price': 698500, 'volume': 300, 'level': 1, ...",698100,698500,698300.0,748250.0,-0.066756
2024-05-13 14:54:00,29668.0,0.0,2024-05-13 14:54:12+08:00,sz301596,0.0,21.0,259200.0,43392.0,10351294.0,7.517965e+12,...,562261.0,10.0,10.0,"[{'price': 698000, 'volume': 600, 'level': 1, ...","[{'price': 698100, 'volume': 100, 'level': 1, ...",698000,698100,698050.0,747550.0,-0.066216
2024-05-13 14:55:00,29866.0,0.0,2024-05-13 14:55:57+08:00,sz301596,0.0,21.0,259200.0,43929.0,10470594.0,7.600931e+12,...,541861.0,10.0,10.0,"[{'price': 694200, 'volume': 1200, 'level': 1,...","[{'price': 694600, 'volume': 600, 'level': 1, ...",694200,694600,694400.0,747950.0,-0.071596
2024-05-13 14:56:00,29916.0,0.0,2024-05-13 14:56:24+08:00,sz301596,0.0,21.0,259200.0,44152.0,10517794.0,7.633706e+12,...,528761.0,10.0,10.0,"[{'price': 694000, 'volume': 2900, 'level': 1,...","[{'price': 694200, 'volume': 3200, 'level': 1,...",694000,694200,694100.0,746300.0,-0.069945

In [ ]:
type1,type2,type7,type8 = gerner_win(df_1,df_2,df_3)

In [ ]:
df_1_test = df_1[ df_1['timestamp']== df_1.iloc[7873]['timestamp']]
df_1_test = df_1_test[df_1_test['trade_price']>0]
df_1_test['trade_value'].sum()/df_1_test['trade_volume'].sum()

In [80]:
order_snap_df = pd.merge_asof(df_3.sort_values('tick_time'),df_2.sort_values('tick_time'),on='tick_time',direction='backward')
order_snap_df['flag'].unique()

array(['S', 'B'], dtype=object)

In [ ]:
df_3_test = df_3[df_3['volume']<2000]
df_3_test['volume'].plot(kind='hist', bins=100, edgecolor='black')

In [ ]:
type(order_snap_df.iloc[0]['market_time_x'])

In [ ]:
with_type_df = cal_type(order_snap_df)
unique_type = with_type_df[with_type_df['type_agg']!='other']
# unique_type

In [ ]:
df_unique = unique_type.drop_duplicates(subset='market_time_y', keep='first')
# 显示结果
# df_unique[df_unique['market_time_y']!=df_unique['market_time_x']]

In [ ]:
df_unique[df_unique['type_agg']=='type1'].shape[0]

In [ ]:
type(df_unique.iloc[0]['market_time_x'])

In [ ]:
df_1_wei = cal_wei_price(df_1)
df_1_wei

In [ ]:
type1,type2,type7,type8 = gerner_win(df_1,df_2,df_3)

In [ ]:
type2 = norm(type2)

In [ ]:
# df['buy_delegations'].fillna(method='ffill', axis=0,inplace=True)
# df['sell_delegations'].fillna(method='ffill', axis=0,inplace=True)

In [ ]:
# df.iloc[6100000]['market_time']

In [ ]:
# df1['type_agg_2'] = df1.apply(find_type_agg, axis=1)

In [ ]:
# df1[df1['type_agg_2']=='type1']

In [ ]:
# def cal_wei_price(df):
#     total_sum = 0
#     for i in range(df.shape[0]):
#         temp_sum = df.iloc[i]['trade_price_x'] * df.iloc[i]['trade_volume_x']
#         total_sum += temp_sum 
#     sum_vol = sum(df[df['trade_price_x']!=0]['trade_volume_x'])
#     if sum_vol == 0:
#         wei_price = 0
#     else:
#         wei_price = total_sum / sum_vol
#     return wei_price

In [ ]:
# import numpy as np
# order = df_3
# trade = df_1
# start_time = trade.iloc[0]['market_time'] + np.timedelta64(911,'s')
# end_time = trade.iloc[-1]['market_time'] + np.timedelta64(-202,'s')
# start_time

In [ ]:
# cor_time = df.iloc[0]['market_time'] + np.timedelta64(901, 's')
# cor_trade = df[df['market_time']== cor_time]
# cor_trade

In [ ]:
# 进行测试
# temp_dic = []
# temp_dic.append({-15:345,-5:45})
# df_2.loc[2,'type_agg']= temp_dic

In [ ]:
# [0]表示取列表中的第一项，然后才是在字典中取key
# df_2.loc[2,'type_agg'][0][-15] = df_2.loc[2,'type_agg'][0][-15]*100 /df_2.loc[2,'type_agg'][0][-5]
# df_2.loc[2,'type_agg'][0][-5] = df_2.loc[2,'type_agg'][0][-5]*100 /df_2.loc[2,'type_agg'][0][-5]

In [ ]:
# index_type = df_3[df_3['type']==0].index.to_list()
# index_flag = df_3[df_3['flag']=='S'].index.to_list()
# index_order_type = df_3[df_3['order_type']==0].index.to_list()
# # index_market_time = df3[df_3['market_time']=]
# print(index_type)
# print(index_flag)
# print(index_order_type)

In [ ]:
# 对每个订单进行划归类型
import numpy as np
order = df_3
trade = df_1
start_time = df_1.loc[0]['timestamp'] + np.timedelta64(910,'s')
end_time = df_1.iloc[-1]['timestamp'] + np.timedelta64(-201,'s')
print(start_time)
print(end_time)
snap = df_2
for i in range(df_3.shape[0]):
    if df_3.loc[i]['market_time'] < start_time or df_3.loc[i]['market_time'] > end_time:
        continue
    current_order = df_3.loc[i]
    # 获取挂单方向
    cur_flag = current_order['flag']
    # 获取挂单价格
    cur_price = current_order['price']
    # 获取挂单量
    cur_vol = current_order['volume']
    # 获取时间
    cur_time = current_order['market_time']
    
    # 获取快照数据
    if cur_time in df_2['market_time'].tolist():
        cor_market = df_2[df_2['market_time'] ==  cur_time ]
    else:
        prev_snap = df_2[df_2['market_time'] < cur_time]
        if not prev_snap.empty:
            cor_market = prev_snap.iloc[-1:]
        else:
            continue
        
    # print(cor_market)
    # 获取买 1 价和交易量, 买一价和交易量
    bid_1 = cor_market['buy_delegations'].iloc[0][0]['price']
    bid_vol_1 = cor_market['buy_delegations'].iloc[0][0]['volume']
    bid_2 = cor_market['buy_delegations'].iloc[0][1]['price']

    ask_1 = cor_market['sell_delegations'].iloc[0][0]['price']
    ask_vol_1 = cor_market['sell_delegations'].iloc[0][0]['volume']
    ask_2 = cor_market['sell_delegations'].iloc[0][1]['price']
    
    # 对当前订单进行判断攻击性类型
    if cur_flag == 'B':
        if (cur_price >= ask_2) and (cur_vol > ask_vol_1):
            df_3.loc[i,'type_agg'] = 'type1'
        elif (cur_price == ask_1) and (cur_vol > ask_vol_1):
            df_3.loc[i,'type_agg'] = 'type2'
    else :
        if (cur_price <= bid_2) and (cur_vol > bid_vol_1):
            df_3.loc[i,'type_agg'] = 'type7'
        elif (cur_price == bid_1) and (cur_vol > bid_vol_1):
            df_3.loc[i,'type_agg'] = 'type8'

In [ ]:
# order, trade 都是datafram的形式
# order 相比较原始数据多了两列，
# 分别是激进类型(type_agg)和时间窗口(time_win)
# 输出：每个special订单都带有一个时间窗口
# def generate_time_win(order,trade):
#     for i in range(order.shape[0]):
#         if order.loc[i]['type_agg'] in ['type1','type2','type7','type8']:
#             current_order = order.loc[i]
#             # 获取挂单价格
#             cur_price = current_order['price']
#             # 获取挂单量'
#             cur_vol = current_order['volume']
#             # 获取时间
#             cur_time = current_order['market_time']
            
#             # 获取交易窗口数据
#             for j in range(-10,21):
#                 cor_time = cur_time + np.timedelta64(j, 's')
#                 while  cor_time in trade['market_time'].values:
#                     continue
#                 else:
#                     cor_time = cur_time + np.timedelta64(j+1,'s')
#                 cor_trade = trade[trade['market_time'] == cor_time]
#                 weight_price = []
#                 weight_price.append({j:cal_wei_price(cor_trade)})
#             order.loc[i,'time_win'] = weight_price
                
#             # 对价格进行平均化,以0时刻的交易价为标准
#             for j in range(-10,21):
#                 order.loc[i,'time_win'][0][j] = order.loc[i,'time_win'][0][j] * 100 / current_order.loc[i,'time_win'][0][0]

In [ ]:
# 进行调试 2
import numpy as np
order = df_3
trade = df_1
start_time = trade.loc[0]['timestamp'] + np.timedelta64(910,'s')
end_time = trade.iloc[-1]['timestamp'] + np.timedelta64(-201,'s')
for i in range(order.shape[0]):
    if order.loc[i]['market_time'] < start_time or order.loc[i]['market_time'] > end_time:
        continue
    if order.loc[i]['type_agg'] in ['type1','type2','type7','type8']:
        current_order = order.loc[i]
        # 获取挂单价格
        cur_price = current_order['price']
        # 获取挂单量'
        cur_vol = current_order['volume']
        # 获取时间
        cur_time = current_order['market_time']
        
        # 获取交易窗口数据
        weight_price = []
        for j in range(-10,21):
            cor_time = cur_time + np.timedelta64(j, 's')
            # print(cor_time)
            cor_trade = trade[trade['timestamp'] == cor_time]
            # print(cor_trade)
            weight_price.append({j:cal_wei_price(cor_trade)})
        print(weight_price)
        if 'time_win' not in order.columns:
            order['time_win'] = None
        df_3.at[i,'time_win'] = weight_price

In [ ]:
def avg(df_3):
    if df_3['time_win']==None:
            return None
        
    # 如果中心是0
    if df_3['time_win'][10][0] == 0:
        for j in range(-10,21):
            df_3['time_win'][j+10][j] +=100
        return df_3['time_win']
            
    # 中心不是0
    else:
        for j in range(-10,0):
                df_3['time_win'][j+10][j] = df_3['time_win'][j+10][j] / df_3['time_win'][10][0]
                df_3['time_win'][j+10][j] = 100 * df_3['time_win'][j+10][j]
                
        for j in range(1,21):
                df_3['time_win'][j+10][j] = df_3['time_win'][j+10][j] / df_3['time_win'][10][0]
                df_3['time_win'][j+10][j] = 100 * df_3['time_win'][j+10][j]
        df_3['time_win'][10][0] = 100
        return df_3['time_win']

In [ ]:
df_3_copy['time_win_avg'] = df_3_copy.apply(avg, axis=1)

In [ ]:
df_3_copy[df_3_copy['type_agg']=='type1']['time_win']

In [ ]:
index1 = df_3_copy[df_3_copy['type_agg']=='type1']['market_time']
index2 = df_3_copy[df_3_copy['type_agg']=='type2']['market_time']
index7 = df_3_copy[df_3_copy['type_agg']=='type7']['market_time']
index8 = df_3_copy[df_3_copy['type_agg']=='type8']['market_time']

In [ ]:
type1_win = df_3_copy[df_3_copy['type_agg']=='type1']['time_win']
type1_win.index = index1
type2_win = df_3_copy[df_3_copy['type_agg']=='type2']['time_win']
type2_win.index = index2
type7_win = df_3_copy[df_3_copy['type_agg']=='type7']['time_win']
type7_win.index = index7
type8_win = df_3_copy[df_3_copy['type_agg']=='type8']['time_win']
type8_win.index = index8

In [ ]:
type_1_df = pd.DataFrame(type1_win)
type_2_df = pd.DataFrame(type2_win)
type_7_df = pd.DataFrame(type7_win)
type_8_df = pd.DataFrame(type8_win)

In [ ]:
type_1_df.iloc[0]

In [ ]:
# type_1_df['-9']=type_1_df['time_win'].apply(lambda x: x[1][-9])
for i in range (-10,21):
    type_1_df[str(i)]=type_1_df['time_win'].apply(lambda x: x[i+10][i])
    type_2_df[str(i)]=type_2_df['time_win'].apply(lambda x: x[i+10][i])
    type_7_df[str(i)]=type_7_df['time_win'].apply(lambda x: x[i+10][i])
    type_8_df[str(i)]=type_8_df['time_win'].apply(lambda x: x[i+10][i])

In [ ]:
type_1_gr = type_1_df.groupby(level=0).min()
type_2_gr = type_2_df.groupby(level=0).min()
type_7_gr = type_7_df.groupby(level=0).min()
type_8_gr = type_8_df.groupby(level=0).min()

In [ ]:
type_8_gr[type_8_gr['0']==0]

In [ ]:
test_time = type_1_gr[type_1_gr['0']==0]['0'].index
test_time[10]

In [ ]:
df_1[df_1['timestamp']==test_time[10]]

In [ ]:
# 计算相关系数
from scipy.stats import spearmanr
cor_8 = []
cor_8_c = []
vec_1 = type_8_gr[str(0)] -type_8_gr['-1'] 
vec_2 = type_8_gr[str(1)] -type_8_gr[str(0)]
cor_8.append(spearmanr(vec_1, vec_2))
cor_8_c.append(np.corrcoef(vec_1, vec_2)[0, 1])
for t in range(0,16):
    vec_1 = type_8_gr[str(t)] -type_8_gr['-1'] 
    vec_2 = type_8_gr[str(t+5)] -type_8_gr[str(t)]
    cor_8.append(spearmanr(vec_1, vec_2))
    cor_8_c.append(np.corrcoef(vec_1, vec_2)[0, 1])
    
cor_7 = []
cor_7_c = []
vec_1 = type_7_gr[str(0)] -type_7_gr['-1'] 
vec_2 = type_7_gr[str(1)] -type_7_gr[str(0)]
cor_7.append(spearmanr(vec_1, vec_2))
cor_7_c.append(np.corrcoef(vec_1, vec_2)[0, 1])
for t in range(0,16):
    vec_1 = type_7_gr[str(t)] -type_7_gr['-1'] 
    vec_2 = type_7_gr[str(t+5)] -type_7_gr[str(t)]
    cor_7.append(spearmanr(vec_1, vec_2))
    cor_7_c.append(np.corrcoef(vec_1, vec_2)[0, 1])

cor_2 = []
cor_2_c = []
vec_1 = type_2_gr[str(0)] -type_2_gr['-1'] 
vec_2 = type_2_gr[str(1)] -type_2_gr[str(0)]
cor_2.append(spearmanr(vec_1, vec_2))
cor_2_c.append(np.corrcoef(vec_1, vec_2)[0, 1])
for t in range(0,16):
    vec_1 = type_2_gr[str(t)] -type_2_gr['-1'] 
    vec_2 = type_2_gr[str(t+5)] -type_2_gr[str(t)]
    cor_2.append(spearmanr(vec_1, vec_2))
    cor_2_c.append(np.corrcoef(vec_1, vec_2)[0, 1])

cor_1 = []
cor_1_c = []
vec_1 = type_1_gr[str(0)] -type_1_gr['-1'] 
vec_2 = type_1_gr[str(1)] -type_1_gr[str(0)]
cor_1.append(spearmanr(vec_1, vec_2))
cor_1_c.append(np.corrcoef(vec_1, vec_2)[0, 1])
for t in range(0,16):
    vec_1 = type_1_gr[str(t)] -type_1_gr['-1'] 
    vec_2 = type_1_gr[str(t+5)] -type_1_gr[str(t)]
    cor_1.append(spearmanr(vec_1, vec_2))
    cor_1_c.append(np.corrcoef(vec_1, vec_2)[0, 1])

In [ ]:
cor_1

In [ ]:
cor_2

In [ ]:
cor_7

In [ ]:
cor_8

In [ ]:
cor_8_c

In [ ]:
import numpy as np
corr = np.corrcoef(vec_1, vec_2)[0, 1]
print(corr)

In [ ]:
def cal_p_mat_type_8(order):
    mat = []
    for i in range(order.shape[0]):
        if order.loc[i]['type_agg'] == 'type8' and order.loc[i]['time_win'] is not None:
            # mat是一个每个元素都是字典的列表
            # 字典的 key 是 
            # print(order.loc[i]['time_win_avg'])
            mat.append(order.loc[i]['time_win_avg'])
            
    # 对 p 矩阵进行处理,s实现了转置
    mat_p = [[0] * len(mat) for _ in range(31)]

    # j是类别数，k是样本数
    for j in range(31):
        for k in range(len(mat)):
            mat_p[j][k] = mat[k][j][j-10]
    return mat_p

In [ ]:
mat_p_1 = cal_p_mat_type_1(df_3_copy)
# mat_p_2 = cal_p_mat_type_2(df_3_copy)
# mat_p_7 = cal_p_mat_type_7(df_3_copy)
# mat_p_8 = cal_p_mat_type_8(df_3_copy)

In [ ]:
print(len(mat_p_1[0]))
print(len(mat_p_2[0]))
print(len(mat_p_7[0]))
print(len(mat_p_8[0]))

In [ ]:
# 针对一种type的交易价格矩阵
# 矩阵的每一行代表一个交易订单，每列代表一个时间窗口的31个交易价
# mat_p[9]表示P_-1对应的交易价格向量
import numpy as np
from scipy.stats import pearsonr, spearmanr
def cal_cor(mat_p):
    mat_p = np.array(mat_p)
    # print(mat_p)
    corr_list = []
    for t in range(10,25):
        mat_p_1 = mat_p[t]-mat_p[9]
        mat_p_2 = mat_p[t+5] -mat_p[t]
        corr = spearmanr(mat_p_1,mat_p_2)
        corr_list.append(corr)
    return corr_list

In [ ]:
cor_1

In [ ]:
cor_2

In [ ]:
cor_7

In [ ]:
cor_8

In [ ]:
# 测试numpy
import numpy as np
mat = [[1,2,3],[4,5,6],[7,8,9]]
mat_np = np.array(mat)
mat_np

In [ ]:
len(mat_p[0])

In [ ]:
# 测试
import pandas as pd
data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
        }
prev_snap = pd.DataFrame(data)

# 选取最后一行
cor_market = prev_snap.iloc[-1]

print("原始 DataFrame:")
print(prev_snap)
print("\n选取的最后一行:")
print(cor_market)
print("\n选取的最后一行的数据类型:")
print(type(cor_market))

In [ ]:
prev_snap.loc[2,'trade_volume'] = 0

In [ ]:
print(prev_snap)
cal_wei_price(prev_snap)

In [ ]:
type_1_gr

In [ ]:
type_1_gr.iloc[1][1:].max()

In [ ]:
def return_rate(df):
    vec1 = df['1']-df['0']
    return_rate_list = [ ]
    for t in range(2,21):
        vec2 = df[str(t)]-df['0']
        return_rate = vec_2/vec_1
        return_rate.replace([np.inf, -np.inf], np.nan, inplace=True)
        return_rate = return_rate.mean(axis=0)
        return_rate_list.append(return_rate)
    return return_rate_list[0]

In [ ]:
return_rate(type_1_gr)