In [74]:
import pandas as pd 
import json
from fun_fac import *
import numpy as np

In [77]:
df_1 = load_and_process_data('trade_sz301596')
df_2 = load_and_process_data('snap_sz301596')
df_3 = load_and_process_data('order_sz301596')

In [78]:
df_1

,seq,code,type,flag,timestamp,trade_price,trade_volume,trade_value,buy_no,sell_no,is_post,tick_time
0,60248,sz301596,1,S,2024-05-13T09:15:00+08:00,0,500,0,0,43482,False,2024-05-13 09:15:00.240
1,68161,sz301596,1,B,2024-05-13T09:15:00+08:00,0,300,0,68155,0,False,2024-05-13 09:15:00.310
2,77561,sz301596,1,B,2024-05-13T09:15:00+08:00,0,100,0,77560,0,False,2024-05-13 09:15:00.440
3,85516,sz301596,1,B,2024-05-13T09:15:00+08:00,0,1000,0,77975,0,False,2024-05-13 09:15:00.560
4,107709,sz301596,1,B,2024-05-13T09:15:00+08:00,0,400,0,107708,0,False,2024-05-13 09:15:00.880
...,...,...,...,...,...,...,...,...,...,...,...,...
73541,34623367,sz301596,0,B,2024-05-13T15:00:00+08:00,694100,500,347050000,34519438,34388024,False,2024-05-13 15:00:00.000
73542,34623368,sz301596,0,B,2024-05-13T15:00:00+08:00,694100,200,138820000,34519438,34424865,False,2024-05-13 15:00:00.000
73543,34623369,sz301596,0,B,2024-05-13T15:00:00+08:00,694100,500,347050000,34519438,34435593,False,2024-05-13 15:00:00.000
73544,34623370,sz301596,0,B,2024-05-13T15:00:00+08:00,694100,200,138820000,34519438,34444114,False,2024-05-13 15:00:00.000
73545,34623371,sz301596,0,B,2024-05-13T15:00:00+08:00,694100,500,347050000,34519438,34469475,False,2024-05-13 15:00:00.000

0

In [79]:
df_2

,seq,post,market_time,tick_time,code,trade_stage,state,pre_close_price,num_trades,trade_volume,...,open_price,high_price,low_price,close_price,delegation_buy_volume,delegation_sell_volume,max_buy_level,max_sell_level,buy_delegations,sell_delegations
0,1026,False,2024-05-13T09:15:00+08:00,2024-05-13 09:15:00,sz301596,0,21,259200,0,0,...,0,0,0,0,0,0,1,1,"[{'price': 666700, 'volume': 12600, 'level': 1...","[{'price': 666700, 'volume': 12600, 'level': 1..."
1,1032,False,2024-05-13T09:15:09+08:00,2024-05-13 09:15:09,sz301596,0,21,259200,0,0,...,0,0,0,0,0,0,1,2,"[{'price': 699800, 'volume': 25500, 'level': 1...","[{'price': 699800, 'volume': 25500, 'level': 1..."
2,1037,False,2024-05-13T09:15:18+08:00,2024-05-13 09:15:18,sz301596,0,21,259200,0,0,...,0,0,0,0,0,0,2,1,"[{'price': 666700, 'volume': 21000, 'level': 1...","[{'price': 666700, 'volume': 21000, 'level': 1..."
3,1042,False,2024-05-13T09:15:27+08:00,2024-05-13 09:15:27,sz301596,0,21,259200,0,0,...,0,0,0,0,0,0,1,1,"[{'price': 694800, 'volume': 23200, 'level': 1...","[{'price': 694800, 'volume': 23200, 'level': 1..."
4,1047,False,2024-05-13T09:15:36+08:00,2024-05-13 09:15:36,sz301596,0,21,259200,0,0,...,0,0,0,0,0,0,2,1,"[{'price': 700000, 'volume': 29200, 'level': 1...","[{'price': 700000, 'volume': 29200, 'level': 1..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550,29955,False,2024-05-13T14:56:45+08:00,2024-05-13 14:56:45,sz301596,0,21,259200,44331,10553794,...,703000,777000,681000,0,22616800,533961,10,10,"[{'price': 693800, 'volume': 2800, 'level': 1,...","[{'price': 694000, 'volume': 6900, 'level': 1,..."
1551,29968,False,2024-05-13T14:56:51+08:00,2024-05-13 14:56:51,sz301596,0,21,259200,44382,10563894,...,703000,777000,681000,0,22614000,532961,10,10,"[{'price': 693500, 'volume': 400, 'level': 1, ...","[{'price': 693900, 'volume': 900, 'level': 1, ..."
1552,29974,False,2024-05-13T14:56:54+08:00,2024-05-13 14:56:54,sz301596,0,21,259200,44404,10569994,...,703000,777000,681000,0,22903600,528361,10,10,"[{'price': 693300, 'volume': 400, 'level': 1, ...","[{'price': 694000, 'volume': 4300, 'level': 1,..."
1553,30207,False,2024-05-13T14:58:57+08:00,2024-05-13 14:58:57,sz301596,0,21,259200,44435,10575794,...,703000,777000,681000,0,0,0,2,1,"[{'price': 693300, 'volume': 90382, 'level': 1...","[{'price': 693300, 'volume': 90382, 'level': 1..."
1554,30319,False,2024-05-13T15:00:00+08:00,2024-05-13 15:00:00,sz301596,0,21,259200,45050,10729676,...,703000,777000,681000,0,248818,220181,10,10,"[{'price': 694100, 'volume': 35318, 'level': 1...","[{'price': 694200, 'volume': 6100, 'level': 1,..."

In [80]:
df_3

,type,seq,code,price,volume,flag,market_time,order_type,tick_time
0,1,2840,sz301596,700000,100,S,2024-05-13T09:15:00+08:00,1,2024-05-13 09:15:00.030
1,1,4537,sz301596,600000,500,S,2024-05-13T09:15:00+08:00,1,2024-05-13 09:15:00.040
2,1,7070,sz301596,249400,500,S,2024-05-13T09:15:00+08:00,1,2024-05-13 09:15:00.040
3,1,7410,sz301596,1880000,100,S,2024-05-13T09:15:00+08:00,1,2024-05-13 09:15:00.050
4,1,8217,sz301596,320000,500,S,2024-05-13T09:15:00+08:00,1,2024-05-13 09:15:00.050
...,...,...,...,...,...,...,...,...,...
80983,1,34540580,sz301596,696000,500,B,2024-05-13T14:59:57+08:00,1,2024-05-13 14:59:57.270
80984,1,34540635,sz301596,694200,100,B,2024-05-13T14:59:57+08:00,1,2024-05-13 14:59:57.350
80985,1,34541760,sz301596,694300,300,B,2024-05-13T14:59:58+08:00,1,2024-05-13 14:59:58.430
80986,1,34541901,sz301596,693900,400,B,2024-05-13T14:59:58+08:00,1,2024-05-13 14:59:58.570
80987,1,34542328,sz301596,695100,300,B,2024-05-13T14:59:59+08:00,1,2024-05-13 14:59:59.070

In [89]:
df_3['tick_time']

0       2024-05-13 09:15:00.030
1       2024-05-13 09:15:00.040
2       2024-05-13 09:15:00.040
3       2024-05-13 09:15:00.050
4       2024-05-13 09:15:00.050
                  ...
80983   2024-05-13 14:59:57.270
80984   2024-05-13 14:59:57.350
80985   2024-05-13 14:59:58.430
80986   2024-05-13 14:59:58.570
80987   2024-05-13 14:59:59.070
Name: tick_time, Length: 80988, dtype: datetime64[ns]

In [95]:
order_snap_df = pd.merge_asof(df_3.sort_values('tick_time'),df_2.sort_values('tick_time'),on='tick_time',direction='backward')
order_snap_df

,type,seq_x,code_x,price,volume,flag,market_time_x,order_type,tick_time,seq_y,...,open_price,high_price,low_price,close_price,delegation_buy_volume,delegation_sell_volume,max_buy_level,max_sell_level,buy_delegations,sell_delegations
0,1,2840,sz301596,700000,100,S,2024-05-13T09:15:00+08:00,1,2024-05-13 09:15:00.030,1026,...,0,0,0,0,0,0,1,1,"[{'price': 666700, 'volume': 12600, 'level': 1...","[{'price': 666700, 'volume': 12600, 'level': 1..."
1,1,4537,sz301596,600000,500,S,2024-05-13T09:15:00+08:00,1,2024-05-13 09:15:00.040,1026,...,0,0,0,0,0,0,1,1,"[{'price': 666700, 'volume': 12600, 'level': 1...","[{'price': 666700, 'volume': 12600, 'level': 1..."
2,1,7070,sz301596,249400,500,S,2024-05-13T09:15:00+08:00,1,2024-05-13 09:15:00.040,1026,...,0,0,0,0,0,0,1,1,"[{'price': 666700, 'volume': 12600, 'level': 1...","[{'price': 666700, 'volume': 12600, 'level': 1..."
3,1,7410,sz301596,1880000,100,S,2024-05-13T09:15:00+08:00,1,2024-05-13 09:15:00.050,1026,...,0,0,0,0,0,0,1,1,"[{'price': 666700, 'volume': 12600, 'level': 1...","[{'price': 666700, 'volume': 12600, 'level': 1..."
4,1,8217,sz301596,320000,500,S,2024-05-13T09:15:00+08:00,1,2024-05-13 09:15:00.050,1026,...,0,0,0,0,0,0,1,1,"[{'price': 666700, 'volume': 12600, 'level': 1...","[{'price': 666700, 'volume': 12600, 'level': 1..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80983,1,34540580,sz301596,696000,500,B,2024-05-13T14:59:57+08:00,1,2024-05-13 14:59:57.270,30207,...,703000,777000,681000,0,0,0,2,1,"[{'price': 693300, 'volume': 90382, 'level': 1...","[{'price': 693300, 'volume': 90382, 'level': 1..."
80984,1,34540635,sz301596,694200,100,B,2024-05-13T14:59:57+08:00,1,2024-05-13 14:59:57.350,30207,...,703000,777000,681000,0,0,0,2,1,"[{'price': 693300, 'volume': 90382, 'level': 1...","[{'price': 693300, 'volume': 90382, 'level': 1..."
80985,1,34541760,sz301596,694300,300,B,2024-05-13T14:59:58+08:00,1,2024-05-13 14:59:58.430,30207,...,703000,777000,681000,0,0,0,2,1,"[{'price': 693300, 'volume': 90382, 'level': 1...","[{'price': 693300, 'volume': 90382, 'level': 1..."
80986,1,34541901,sz301596,693900,400,B,2024-05-13T14:59:58+08:00,1,2024-05-13 14:59:58.570,30207,...,703000,777000,681000,0,0,0,2,1,"[{'price': 693300, 'volume': 90382, 'level': 1...","[{'price': 693300, 'volume': 90382, 'level': 1..."
80987,1,34542328,sz301596,695100,300,B,2024-05-13T14:59:59+08:00,1,2024-05-13 14:59:59.070,30207,...,703000,777000,681000,0,0,0,2,1,"[{'price': 693300, 'volume': 90382, 'level': 1...","[{'price': 693300, 'volume': 90382, 'level': 1..."

In [104]:
with_type_df = cal_type(order_snap_df)
unique_type = with_type_df[with_type_df['type_agg']!='other']
unique_type

,type,seq_x,code_x,price,volume,flag,market_time_x,order_type,tick_time,seq_y,...,close_price,delegation_buy_volume,delegation_sell_volume,max_buy_level,max_sell_level,buy_delegations,sell_delegations,bid_1,ask_1,type_agg
4848,1,466870,sz301596,715000,5600,B,2024-05-13T09:30:00+08:00,1,2024-05-13 09:30:00.000,1459,...,0,12184700,524854,10,10,"[{'price': 700300, 'volume': 700, 'level': 1, ...","[{'price': 703000, 'volume': 4000, 'level': 1,...",700300,703000,type1
4851,1,466914,sz301596,710000,15500,B,2024-05-13T09:30:00+08:00,1,2024-05-13 09:30:00.000,1459,...,0,12184700,524854,10,10,"[{'price': 700300, 'volume': 700, 'level': 1, ...","[{'price': 703000, 'volume': 4000, 'level': 1,...",700300,703000,type1
4856,1,466313,sz301596,703200,20000,B,2024-05-13T09:30:00+08:00,1,2024-05-13 09:30:00.000,1459,...,0,12184700,524854,10,10,"[{'price': 700300, 'volume': 700, 'level': 1, ...","[{'price': 703000, 'volume': 4000, 'level': 1,...",700300,703000,type1
4874,1,468902,sz301596,710000,26200,B,2024-05-13T09:30:00+08:00,1,2024-05-13 09:30:00.030,1459,...,0,12184700,524854,10,10,"[{'price': 700300, 'volume': 700, 'level': 1, ...","[{'price': 703000, 'volume': 4000, 'level': 1,...",700300,703000,type1
4933,1,473427,sz301596,703300,20000,B,2024-05-13T09:30:00+08:00,1,2024-05-13 09:30:00.040,1459,...,0,12184700,524854,10,10,"[{'price': 700300, 'volume': 700, 'level': 1, ...","[{'price': 703000, 'volume': 4000, 'level': 1,...",700300,703000,type1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80705,1,34499966,sz301596,693000,500,S,2024-05-13T14:58:50+08:00,1,2024-05-13 14:58:50.820,29974,...,0,22903600,528361,10,10,"[{'price': 693300, 'volume': 400, 'level': 1, ...","[{'price': 694000, 'volume': 4300, 'level': 1,...",693300,694000,type7
80711,1,34500323,sz301596,693000,500,S,2024-05-13T14:58:51+08:00,1,2024-05-13 14:58:51.840,29974,...,0,22903600,528361,10,10,"[{'price': 693300, 'volume': 400, 'level': 1, ...","[{'price': 694000, 'volume': 4300, 'level': 1,...",693300,694000,type7
80713,1,34500535,sz301596,690000,500,S,2024-05-13T14:58:52+08:00,1,2024-05-13 14:58:52.430,29974,...,0,22903600,528361,10,10,"[{'price': 693300, 'volume': 400, 'level': 1, ...","[{'price': 694000, 'volume': 4300, 'level': 1,...",693300,694000,type7
80725,1,34501473,sz301596,693000,500,S,2024-05-13T14:58:55+08:00,1,2024-05-13 14:58:55.130,29974,...,0,22903600,528361,10,10,"[{'price': 693300, 'volume': 400, 'level': 1, ...","[{'price': 694000, 'volume': 4300, 'level': 1,...",693300,694000,type7
80735,1,34502126,sz301596,693200,500,S,2024-05-13T14:58:56+08:00,1,2024-05-13 14:58:56.710,29974,...,0,22903600,528361,10,10,"[{'price': 693300, 'volume': 400, 'level': 1, ...","[{'price': 694000, 'volume': 4300, 'level': 1,...",693300,694000,type7

In [101]:
df_unique = unique_type.drop_duplicates(subset='market_time_y', keep='first')
# 显示结果
df_unique

,type,seq_x,code_x,price,volume,flag,market_time_x,order_type,tick_time,seq_y,...,close_price,delegation_buy_volume,delegation_sell_volume,max_buy_level,max_sell_level,buy_delegations,sell_delegations,bid_1,ask_1,type_agg
4848,1,466870,sz301596,715000,5600,B,2024-05-13T09:30:00+08:00,1,2024-05-13 09:30:00.000,1459,...,0,12184700,524854,10,10,"[{'price': 700300, 'volume': 700, 'level': 1, ...","[{'price': 703000, 'volume': 4000, 'level': 1,...",700300,703000,type1
10206,1,962347,sz301596,702500,5900,B,2024-05-13T09:30:09+08:00,1,2024-05-13 09:30:09.330,1476,...,0,12350100,846349,10,10,"[{'price': 700000, 'volume': 29000, 'level': 1...","[{'price': 700300, 'volume': 300, 'level': 1, ...",700000,700300,type1
11162,1,1187331,sz301596,694800,500,S,2024-05-13T09:30:21+08:00,1,2024-05-13 09:30:21.200,1498,...,0,12702700,987196,10,10,"[{'price': 694800, 'volume': 200, 'level': 1, ...","[{'price': 698700, 'volume': 300, 'level': 1, ...",694800,698700,type8
12492,1,1533531,sz301596,680000,500,S,2024-05-13T09:30:39+08:00,1,2024-05-13 09:30:39.020,1531,...,0,12943311,1040674,10,10,"[{'price': 688100, 'volume': 11, 'level': 1, '...","[{'price': 688300, 'volume': 200, 'level': 1, ...",688100,688300,type7
14147,1,1756242,sz301596,689600,8800,B,2024-05-13T09:30:57+08:00,1,2024-05-13 09:30:57.950,1564,...,0,12980330,981063,10,10,"[{'price': 686800, 'volume': 500, 'level': 1, ...","[{'price': 688100, 'volume': 8700, 'level': 1,...",686800,688100,type1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79598,1,34329465,sz301596,700000,5000,B,2024-05-13T14:56:19+08:00,1,2024-05-13 14:56:19.150,29905,...,0,22610900,526161,10,10,"[{'price': 694200, 'volume': 2400, 'level': 1,...","[{'price': 694600, 'volume': 700, 'level': 1, ...",694200,694600,type1
79801,1,34369465,sz301596,689800,200,S,2024-05-13T14:56:33+08:00,1,2024-05-13 14:56:33.290,29933,...,0,22619100,530661,10,10,"[{'price': 693900, 'volume': 100, 'level': 1, ...","[{'price': 694000, 'volume': 800, 'level': 1, ...",693900,694000,type7
79843,1,34376881,sz301596,694000,800,B,2024-05-13T14:56:36+08:00,1,2024-05-13 14:56:36.360,29938,...,0,22620000,528261,10,10,"[{'price': 693800, 'volume': 4000, 'level': 1,...","[{'price': 694000, 'volume': 400, 'level': 1, ...",693800,694000,type2
80036,1,34417645,sz301596,694000,3000,B,2024-05-13T14:56:52+08:00,1,2024-05-13 14:56:52.960,29968,...,0,22614000,532961,10,10,"[{'price': 693500, 'volume': 400, 'level': 1, ...","[{'price': 693900, 'volume': 900, 'level': 1, ...",693500,693900,type1
80052,1,34423194,sz301596,690000,500,S,2024-05-13T14:56:55+08:00,1,2024-05-13 14:56:55.460,29974,...,0,22903600,528361,10,10,"[{'price': 693300, 'volume': 400, 'level': 1, ...","[{'price': 694000, 'volume': 4300, 'level': 1,...",693300,694000,type7

In [109]:
df_unique[df_unique['type_agg']=='type1'].shape[0]

284

In [ ]:
# order_snap_df = pd.merge(df_3,df_2,on=['market_time','code'],how='left')
# order_snap_df.ffill(inplace=True)
# order_snap_df.dropna(subset=['buy_delegations'],)

In [ ]:
# 'price' not in  order_snap_df.iloc[0]['buy_delegations'][0]

In [ ]:
import numpy as np

In [ ]:
order_snap_df

In [ ]:
df_3

In [ ]:
# print(df_1.columns)
# print(df_2.columns)
# print(df_3.columns)

In [ ]:
# df_1.columns = ['seq', 'code', 'type', 'flag', 'market_time', 'trade_price',
#        'trade_volume', 'trade_value', 'buy_no', 'sell_no', 'is_post',
#        'tick_time']

In [ ]:
# outer_merged = pd.merge(df_1, df_2, on='market_time', how='outer')
# outer_merged = pd.merge(outer_merged, df_3, on='market_time', how='outer')
# print("\n外连接结果：")
# print(outer_merged)
# df = outer_merged

In [ ]:
# outer_merged.columns

In [ ]:
# df['buy_delegations'].fillna(method='ffill', axis=0,inplace=True)
# df['sell_delegations'].fillna(method='ffill', axis=0,inplace=True)

In [ ]:
# df.iloc[6100000]['market_time']

In [ ]:
# def find_type_agg(df1):

#     # 获取挂单方向
#     cur_flag = df['flag_y']
#     # 获取挂单价格
#     cur_price = df['price']
#     # 获取挂单量
#     cur_vol = df['volume']
#     # 获取当前快照
#     cur_bid = df['buy_delegations']
#     cur_ask = df['sell_delegations']
    
#     # 获取快照数据
#     # if cur_time in snap['market_time']:
#     #     cor_markat = snap[snap['market_time']== cur_time ]
#     # else:
#     #     cor_market = snap[snap['market_time'] < cur_time].iloc[-1]
        
#     # 获取买1价和交易量量, 买一价和交易量
#     bid_1 = cur_bid[0]['price']
#     if 'price' in cur_bid[1]:
#         bid_2 = cur_bid[1]['price']
#     else:
#         bid_2 = bid_1
#     bid_vol_1 = cur_bid[0]['volume']
    
#     ask_1 = cur_ask[0]['price']
#     if 'price' in cur_ask[1]:
#         ask_2 = cur_ask[1]['price']
#     else:
#         ask_2 = ask_1
#     ask_vol_1 = cur_ask[0]['volume']

#     # 对当前订单进行判断攻击性类型
#     if cur_flag == 'B':
#         if (cur_price >= ask_2) & (cur_vol > ask_vol_1):
#             return 'type1'
#         elif (cur_price >= ask_1) & (cur_price < ask_2) & (cur_vol > ask_vol_1):
#             return 'type2'
#         else:
#             return 'other_bid'
#     else :
#         if (cur_price <= bid_2) & (cur_vol > ask_vol_1):
#             return 'type7'
#         elif (cur_price <= bid_1) & (cur_price > bid_2) & (cur_vol > bid_vol_1):
#             return 'type8'
#         else:
#             return 'other_ask'

In [ ]:
# df1['type_agg_2'] = df1.apply(find_type_agg, axis=1)

In [ ]:
# df1[df1['type_agg_2']=='type1']

In [ ]:
# def cal_wei_price(df):
#     total_sum = 0
#     for i in range(df.shape[0]):
#         temp_sum = df.iloc[i]['trade_price_x'] * df.iloc[i]['trade_volume_x']
#         total_sum += temp_sum 
#     sum_vol = sum(df[df['trade_price_x']!=0]['trade_volume_x'])
#     if sum_vol == 0:
#         wei_price = 0
#     else:
#         wei_price = total_sum / sum_vol
#     return wei_price

In [ ]:
# import numpy as np
# order = df_3
# trade = df_1
# start_time = trade.iloc[0]['market_time'] + np.timedelta64(911,'s')
# end_time = trade.iloc[-1]['market_time'] + np.timedelta64(-202,'s')
# start_time

In [ ]:
# 这个函数有问题，暂时先不使用
# def generate_time_win(df,start_time,end_time):
#     if df['market_time'] < start_time or df['market_time'] > end_time:
#         return 0
#     if df['type_agg_2'] in ['type1','type2','type7','type8']:
#         # 获取挂单价格
#         cur_price = df['price']
#         # 获取挂单量'
#         cur_vol = df['volume']
#         cur_time = df['market_time']
#         # 获取交易窗口数据
#         weight_price = []
  
#         # cor_time = cur_time + np.timedelta64(j, 's')
#         cor_time = cur_time + np.timedelta64(-10, 's')
#         print(cor_time)
#         print(type(cor_time))
#         # cor_trade = df.loc[cor_time,['trade_price_x','trade_volume_x']]
#         cor_trade = df[df['market_time']==cor_time]
#         weight_price.append(cal_wei_price(cor_trade))

#         # if 'time_win_2not in order.columns:
#         #     order['time_win'] = None
#         # order.at[i,'time_win'] = weight_price
            
#         # 对价格进行平均化,以0时刻的交易价为标准
#         if weight_price[10] == 0:
#             weight_price += 100   
#         else:
#             weight_price /= weight_price[10]
#             weight_price *=100
#         return weight_price

In [ ]:
# cor_time = df.iloc[0]['market_time'] + np.timedelta64(901, 's')
# cor_trade = df[df['market_time']== cor_time]
# cor_trade

In [ ]:
# 进行测试
# temp_dic = []
# temp_dic.append({-15:345,-5:45})
# df_2.loc[2,'type_agg']= temp_dic

In [ ]:
# [0]表示取列表中的第一项，然后才是在字典中取key
# df_2.loc[2,'type_agg'][0][-15] = df_2.loc[2,'type_agg'][0][-15]*100 /df_2.loc[2,'type_agg'][0][-5]
# df_2.loc[2,'type_agg'][0][-5] = df_2.loc[2,'type_agg'][0][-5]*100 /df_2.loc[2,'type_agg'][0][-5]

In [ ]:
# index_type = df_3[df_3['type']==0].index.to_list()
# index_flag = df_3[df_3['flag']=='S'].index.to_list()
# index_order_type = df_3[df_3['order_type']==0].index.to_list()
# # index_market_time = df3[df_3['market_time']=]
# print(index_type)
# print(index_flag)
# print(index_order_type)

In [ ]:
# 找出挂单数据集中不同类型的订单
# 其中 order,snap 都是datafram形式
# def find_special_order(order,snap):
#     for i in range(order.shape[0]):
#         current_order = order.loc[i]
#         # 获取挂单方向
#         cur_flag = current_order[5]
#         # 获取挂单价格
#         cur_price = current_order[3]
#         # 获取挂单量
#         cur_vol = current_order[4]
#         # 获取时间
#         cur_time = current_order[6]
        
#         # 获取快照数据
#         if cur_time in snap['market_time']:
#             cor_markat = snap[snap['market_time']== cur_time ]
#         else:
#             cor_market = snap[snap['market_time'] < cur_time].iloc[-1]
            
#         # 获取买1价和交易量量, 买一价和交易量
#         bid_1 = cor_markat.loc['buy_delegations'][0]['price']
#         bid_2 = cor_markat.loc['buy_delegations'][1]['price']
#         bid_vol_1 = cor_market.loc['buy_delegations'][0]['volumn']
        
#         ask_1 = cor_markat.loc['sell_delegations'][0]['price']
#         ask_2 = cor_markat.loc['sell_delegations'][1]['price']
#         ask_vol_1 = cor_market.loc['sell_delegations'][0]['volumn']
        
#         # 对当前订单进行判断攻击性类型
#         if cur_flag == 'B':
#             if (cur_price >= ask_2) & (cur_vol > ask_vol_1):
#                 current_order.loc[i,'type_agg'] = 'type1'
#             if (cur_price >= ask_1) & (cur_price < ask_2) & (cur_vol > ask_vol_1):
#                 current_order.loc[i,'type_agg'] = 'type2'
#         else :
#             if (cur_price <= bid_2) & (cur_vol > ask_vol_1):
#                 current_order.loc[i,'type_agg'] = 'type7'
#             if (cur_price <= ask_1) & (cur_price > ask_2) & (cur_vol > ask_vol_1):
#                 current_order.loc[i,'type_agg'] = 'type8'

In [ ]:
# 测试是否会有买2卖2数据缺失
for i in range(df_2.shape[0]):
    if df_2.loc[i]['market_time'] < start_time or df_2.loc[i]['market_time'] > end_time:
        continue
    temp = df_2.loc[i]['buy_delegations']
    if 'price' not in temp[1]:
        print('不在')

In [ ]:
df_1.loc[(df_1['timestamp']>=start_time) & (df_1['timestamp']<=end_time)]

In [ ]:
# 对每个订单进行划归类型
import numpy as np
order = df_3
trade = df_1
start_time = df_1.loc[0]['timestamp'] + np.timedelta64(910,'s')
end_time = df_1.iloc[-1]['timestamp'] + np.timedelta64(-201,'s')
print(start_time)
print(end_time)
snap = df_2
for i in range(df_3.shape[0]):
    if df_3.loc[i]['market_time'] < start_time or df_3.loc[i]['market_time'] > end_time:
        continue
    current_order = df_3.loc[i]
    # 获取挂单方向
    cur_flag = current_order['flag']
    # 获取挂单价格
    cur_price = current_order['price']
    # 获取挂单量
    cur_vol = current_order['volume']
    # 获取时间
    cur_time = current_order['market_time']
    
    # 获取快照数据
    if cur_time in df_2['market_time'].tolist():
        cor_market = df_2[df_2['market_time'] ==  cur_time ]
    else:
        prev_snap = df_2[df_2['market_time'] < cur_time]
        if not prev_snap.empty:
            cor_market = prev_snap.iloc[-1:]
        else:
            continue
        
    # print(cor_market)
    # 获取买 1 价和交易量, 买一价和交易量
    bid_1 = cor_market['buy_delegations'].iloc[0][0]['price']
    bid_vol_1 = cor_market['buy_delegations'].iloc[0][0]['volume']
    bid_2 = cor_market['buy_delegations'].iloc[0][1]['price']

    ask_1 = cor_market['sell_delegations'].iloc[0][0]['price']
    ask_vol_1 = cor_market['sell_delegations'].iloc[0][0]['volume']
    ask_2 = cor_market['sell_delegations'].iloc[0][1]['price']
    
    # 对当前订单进行判断攻击性类型
    if cur_flag == 'B':
        if (cur_price >= ask_2) and (cur_vol > ask_vol_1):
            df_3.loc[i,'type_agg'] = 'type1'
        elif (cur_price == ask_1) and (cur_vol > ask_vol_1):
            df_3.loc[i,'type_agg'] = 'type2'
    else :
        if (cur_price <= bid_2) and (cur_vol > bid_vol_1):
            df_3.loc[i,'type_agg'] = 'type7'
        elif (cur_price == bid_1) and (cur_vol > bid_vol_1):
            df_3.loc[i,'type_agg'] = 'type8'

In [ ]:
print(df_3[df_3['type_agg']=='type1'].shape[0])
print(df_3[df_3['type_agg']=='type2'].shape[0])
print(df_3[df_3['type_agg']=='type7'].shape[0])
print(df_3[df_3['type_agg']=='type8'].shape[0])
# df_3['type_agg']=='type7'
# df_3['type_agg']=='type8'

In [ ]:
# 已经进行测试
# 传入一个df，包含trade_price, tarde_volume 两列即可
def cal_wei_price(df):
    total_sum = 0
    for i in range(df.shape[0]):
        temp_sum = df.iloc[i]['trade_price'] * df.iloc[i]['trade_volume']
        total_sum += temp_sum 
    sum_vol = sum(df[df['trade_price']!=0]['trade_volume'])
    if sum_vol == 0:
        wei_price = 0
    else:
        wei_price = total_sum / sum_vol
    return wei_price

In [ ]:
# order, trade 都是datafram的形式
# order 相比较原始数据多了两列，
# 分别是激进类型(type_agg)和时间窗口(time_win)
# 输出：每个special订单都带有一个时间窗口
# def generate_time_win(order,trade):
#     for i in range(order.shape[0]):
#         if order.loc[i]['type_agg'] in ['type1','type2','type7','type8']:
#             current_order = order.loc[i]
#             # 获取挂单价格
#             cur_price = current_order['price']
#             # 获取挂单量'
#             cur_vol = current_order['volume']
#             # 获取时间
#             cur_time = current_order['market_time']
            
#             # 获取交易窗口数据
#             for j in range(-10,21):
#                 cor_time = cur_time + np.timedelta64(j, 's')
#                 while  cor_time in trade['market_time'].values:
#                     continue
#                 else:
#                     cor_time = cur_time + np.timedelta64(j+1,'s')
#                 cor_trade = trade[trade['market_time'] == cor_time]
#                 weight_price = []
#                 weight_price.append({j:cal_wei_price(cor_trade)})
#             order.loc[i,'time_win'] = weight_price
                
#             # 对价格进行平均化,以0时刻的交易价为标准
#             for j in range(-10,21):
#                 order.loc[i,'time_win'][0][j] = order.loc[i,'time_win'][0][j] * 100 / current_order.loc[i,'time_win'][0][0]

In [ ]:
df_3[df_3['type_agg']=='type1']

In [ ]:
df_1

In [ ]:
# 进行调试 2
import numpy as np
order = df_3
trade = df_1
start_time = trade.loc[0]['timestamp'] + np.timedelta64(910,'s')
end_time = trade.iloc[-1]['timestamp'] + np.timedelta64(-201,'s')
for i in range(order.shape[0]):
    if order.loc[i]['market_time'] < start_time or order.loc[i]['market_time'] > end_time:
        continue
    if order.loc[i]['type_agg'] in ['type1','type2','type7','type8']:
        current_order = order.loc[i]
        # 获取挂单价格
        cur_price = current_order['price']
        # 获取挂单量'
        cur_vol = current_order['volume']
        # 获取时间
        cur_time = current_order['market_time']
        
        # 获取交易窗口数据
        weight_price = []
        for j in range(-10,21):
            cor_time = cur_time + np.timedelta64(j, 's')
            # print(cor_time)
            cor_trade = trade[trade['timestamp'] == cor_time]
            # print(cor_trade)
            weight_price.append({j:cal_wei_price(cor_trade)})
        print(weight_price)
        if 'time_win' not in order.columns:
            order['time_win'] = None
        df_3.at[i,'time_win'] = weight_price

In [ ]:
df_3[~ df_3['time_win'].isnull()]

In [ ]:
import copy
df_3_copy = copy.deepcopy(df_3)

In [ ]:
df_3

In [ ]:
def avg(df_3):
    if df_3['time_win']==None:
            return None
        
    # 如果中心是0
    if df_3['time_win'][10][0] == 0:
        for j in range(-10,21):
            df_3['time_win'][j+10][j] +=100
        return df_3['time_win']
            
    # 中心不是0
    else:
        for j in range(-10,0):
                df_3['time_win'][j+10][j] = df_3['time_win'][j+10][j] / df_3['time_win'][10][0]
                df_3['time_win'][j+10][j] = 100 * df_3['time_win'][j+10][j]
                
        for j in range(1,21):
                df_3['time_win'][j+10][j] = df_3['time_win'][j+10][j] / df_3['time_win'][10][0]
                df_3['time_win'][j+10][j] = 100 * df_3['time_win'][j+10][j]
        df_3['time_win'][10][0] = 100
        return df_3['time_win']

In [ ]:
df_3_copy['time_win_avg'] = df_3_copy.apply(avg, axis=1)

In [ ]:
df_3_copy[df_3_copy['type_agg']=='type1']['time_win']

In [ ]:
index1 = df_3_copy[df_3_copy['type_agg']=='type1']['market_time']
index2 = df_3_copy[df_3_copy['type_agg']=='type2']['market_time']
index7 = df_3_copy[df_3_copy['type_agg']=='type7']['market_time']
index8 = df_3_copy[df_3_copy['type_agg']=='type8']['market_time']

In [ ]:
type1_win = df_3_copy[df_3_copy['type_agg']=='type1']['time_win']
type1_win.index = index1
type2_win = df_3_copy[df_3_copy['type_agg']=='type2']['time_win']
type2_win.index = index2
type7_win = df_3_copy[df_3_copy['type_agg']=='type7']['time_win']
type7_win.index = index7
type8_win = df_3_copy[df_3_copy['type_agg']=='type8']['time_win']
type8_win.index = index8

In [ ]:
type_1_df = pd.DataFrame(type1_win)
type_2_df = pd.DataFrame(type2_win)
type_7_df = pd.DataFrame(type7_win)
type_8_df = pd.DataFrame(type8_win)

In [ ]:
type_1_df.iloc[0]

In [ ]:
# type_1_df['-9']=type_1_df['time_win'].apply(lambda x: x[1][-9])
for i in range (-10,21):
    type_1_df[str(i)]=type_1_df['time_win'].apply(lambda x: x[i+10][i])
    type_2_df[str(i)]=type_2_df['time_win'].apply(lambda x: x[i+10][i])
    type_7_df[str(i)]=type_7_df['time_win'].apply(lambda x: x[i+10][i])
    type_8_df[str(i)]=type_8_df['time_win'].apply(lambda x: x[i+10][i])

In [ ]:
type_1_gr = type_1_df.groupby(level=0).min()
type_2_gr = type_2_df.groupby(level=0).min()
type_7_gr = type_7_df.groupby(level=0).min()
type_8_gr = type_8_df.groupby(level=0).min()

In [ ]:
type_8_gr[type_8_gr['0']==0]

In [ ]:
test_time = type_1_gr[type_1_gr['0']==0]['0'].index
test_time[10]

In [ ]:
df_1[df_1['timestamp']==test_time[10]]

In [ ]:
# 计算相关系数
from scipy.stats import spearmanr
cor_8 = []
cor_8_c = []
vec_1 = type_8_gr[str(0)] -type_8_gr['-1'] 
vec_2 = type_8_gr[str(1)] -type_8_gr[str(0)]
cor_8.append(spearmanr(vec_1, vec_2))
cor_8_c.append(np.corrcoef(vec_1, vec_2)[0, 1])
for t in range(0,16):
    vec_1 = type_8_gr[str(t)] -type_8_gr['-1'] 
    vec_2 = type_8_gr[str(t+5)] -type_8_gr[str(t)]
    cor_8.append(spearmanr(vec_1, vec_2))
    cor_8_c.append(np.corrcoef(vec_1, vec_2)[0, 1])
    
cor_7 = []
cor_7_c = []
vec_1 = type_7_gr[str(0)] -type_7_gr['-1'] 
vec_2 = type_7_gr[str(1)] -type_7_gr[str(0)]
cor_7.append(spearmanr(vec_1, vec_2))
cor_7_c.append(np.corrcoef(vec_1, vec_2)[0, 1])
for t in range(0,16):
    vec_1 = type_7_gr[str(t)] -type_7_gr['-1'] 
    vec_2 = type_7_gr[str(t+5)] -type_7_gr[str(t)]
    cor_7.append(spearmanr(vec_1, vec_2))
    cor_7_c.append(np.corrcoef(vec_1, vec_2)[0, 1])

cor_2 = []
cor_2_c = []
vec_1 = type_2_gr[str(0)] -type_2_gr['-1'] 
vec_2 = type_2_gr[str(1)] -type_2_gr[str(0)]
cor_2.append(spearmanr(vec_1, vec_2))
cor_2_c.append(np.corrcoef(vec_1, vec_2)[0, 1])
for t in range(0,16):
    vec_1 = type_2_gr[str(t)] -type_2_gr['-1'] 
    vec_2 = type_2_gr[str(t+5)] -type_2_gr[str(t)]
    cor_2.append(spearmanr(vec_1, vec_2))
    cor_2_c.append(np.corrcoef(vec_1, vec_2)[0, 1])

cor_1 = []
cor_1_c = []
vec_1 = type_1_gr[str(0)] -type_1_gr['-1'] 
vec_2 = type_1_gr[str(1)] -type_1_gr[str(0)]
cor_1.append(spearmanr(vec_1, vec_2))
cor_1_c.append(np.corrcoef(vec_1, vec_2)[0, 1])
for t in range(0,16):
    vec_1 = type_1_gr[str(t)] -type_1_gr['-1'] 
    vec_2 = type_1_gr[str(t+5)] -type_1_gr[str(t)]
    cor_1.append(spearmanr(vec_1, vec_2))
    cor_1_c.append(np.corrcoef(vec_1, vec_2)[0, 1])

In [ ]:
cor_1

In [ ]:
cor_2

In [ ]:
cor_7

In [ ]:
cor_8

In [ ]:
cor_8_c

In [ ]:
import numpy as np
corr = np.corrcoef(vec_1, vec_2)[0, 1]
print(corr)

In [ ]:
def cal_p_mat_type_8(order):
    mat = []
    for i in range(order.shape[0]):
        if order.loc[i]['type_agg'] == 'type8' and order.loc[i]['time_win'] is not None:
            # mat是一个每个元素都是字典的列表
            # 字典的 key 是 
            # print(order.loc[i]['time_win_avg'])
            mat.append(order.loc[i]['time_win_avg'])
            
    # 对 p 矩阵进行处理,s实现了转置
    mat_p = [[0] * len(mat) for _ in range(31)]

    # j是类别数，k是样本数
    for j in range(31):
        for k in range(len(mat)):
            mat_p[j][k] = mat[k][j][j-10]
    return mat_p

In [ ]:
mat_p_1 = cal_p_mat_type_1(df_3_copy)
# mat_p_2 = cal_p_mat_type_2(df_3_copy)
# mat_p_7 = cal_p_mat_type_7(df_3_copy)
# mat_p_8 = cal_p_mat_type_8(df_3_copy)

In [ ]:
print(len(mat_p_1[0]))
print(len(mat_p_2[0]))
print(len(mat_p_7[0]))
print(len(mat_p_8[0]))

In [ ]:
# 针对一种type的交易价格矩阵
# 矩阵的每一行代表一个交易订单，每列代表一个时间窗口的31个交易价
# mat_p[9]表示P_-1对应的交易价格向量
import numpy as np
from scipy.stats import pearsonr, spearmanr
def cal_cor(mat_p):
    mat_p = np.array(mat_p)
    # print(mat_p)
    corr_list = []
    for t in range(10,25):
        mat_p_1 = mat_p[t]-mat_p[9]
        mat_p_2 = mat_p[t+5] -mat_p[t]
        corr = spearmanr(mat_p_1,mat_p_2)
        corr_list.append(corr)
    return corr_list

In [ ]:
cor_1

In [ ]:
cor_2

In [ ]:
cor_7

In [ ]:
cor_8

In [ ]:
# 测试numpy
import numpy as np
mat = [[1,2,3],[4,5,6],[7,8,9]]
mat_np = np.array(mat)
mat_np

In [ ]:
len(mat_p[0])

In [ ]:
# 测试
import pandas as pd
data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
        }
prev_snap = pd.DataFrame(data)

# 选取最后一行
cor_market = prev_snap.iloc[-1]

print("原始 DataFrame:")
print(prev_snap)
print("\n选取的最后一行:")
print(cor_market)
print("\n选取的最后一行的数据类型:")
print(type(cor_market))

In [ ]:
prev_snap.loc[2,'trade_volume'] = 0

In [ ]:
print(prev_snap)
cal_wei_price(prev_snap)

In [ ]:
type_1_gr

In [ ]:
type_1_gr.iloc[1][1:].max()

In [ ]:
def return_rate(df):
    vec1 = df['1']-df['0']
    return_rate_list = [ ]
    for t in range(2,21):
        vec2 = df[str(t)]-df['0']
        return_rate = vec_2/vec_1
        return_rate.replace([np.inf, -np.inf], np.nan, inplace=True)
        return_rate = return_rate.mean(axis=0)
        return_rate_list.append(return_rate)
    return return_rate_list[0]

In [ ]:
return_rate(type_1_gr)